<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Skin Disease Classification</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Upload an Image</h1>
      <form
        method="POST"
        enctype="multipart/form-data"
      >
        <input
          type="file"
          name="file"
          accept="image/*"
        />
        <button type="submit">Upload</button>
      </form>
      {% if predicted_full_name is not none %}
      <p class="prediction-result">
        Predicted Disease: {{ predicted_full_name }} with {{ "%.2f" |
        format(confidence * 100) }}% confidence.
      </p>
      {% else %}
      <p class="message">Upload an image to get a prediction.</p>
      {% endif %}
    </div>
  </body>
</html>
